body {
    background: #f3ecec;
    font-family: 'Times New Roman', Times, serif;
}

.assignment{
    display:flex;
    padding: 10px;
}

.assignment img{
    width:360px;
    height: 390px;
    padding:10px;
}

h1 {
    color: #7B241C ;
    text-align: center;
}